:root {
  --main: rgb(199, 14, 14);
  --outli: black;
  --white: #ffff;
}
body {
  text-align: center;
  align-items: center;
  background-color: var(--white);
}
h1 {
  background-color: var(--main);
  color: black;
  position: center;
  margin-left: auto;
  margin-right: auto;
}
#input{
  border: 3px solid black;
  resize: none;
  width: 50%;
  height: 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 1rem solid var(--outli);
  padding: 1rem;
  color: black;
  font-weight: bold;
}
#btn {
  padding: 1rem;
  border: 3px solid black;
  position: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main);
  color: solid black;
  font-weight: bold;
}


#output {
  padding: 1rem;
  color: black;
  border: 3px solid black;
  width: 50%;
  margin: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
  font-weight: bold;
}

footer {
  position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--outli);
}
footer p {
  margin-left: auto;
  margin-right: auto;
  color: solid black;
}
